<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
    <div class="row clearfix" th:fragment="header">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}">Spittr</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/spittle/all}">all spittles</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/spittle/follow}">followed spittles</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/spittle/me}">my spittles</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/spittle/create}">create spittle</a></li>
                    </ul>


                    <ul class="nav navbar-nav navbar-right" sec:authorize="!isAuthenticated()">
                        <li><a th:href="@{/spitter/signup}">signup</a></li>
                        <li><a th:href="@{/spitter/login}">login</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                        <li><a th:href="@{'/spitter/' + ${#authentication.principal.id}}" sec:authentication="name">user-name</a></li>
                        <li><a th:href="@{/logout}">logout</a></li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
<!--<div th:fragment="header">-->
    <!--<a th:href="@{/}">-->
        <!--<img th:height="50px" th:width="50px" th:src="@{/images/spitter_logo_50.png}" border="0" />-->
    <!--</a>-->


    <!--<div sec:authorize="!isAuthenticated()">-->
        <!--<a th:href="@{/spitter/signup}">signup</a>-->
        <!--| <a th:href="@{/spitter/login}">login</a>-->
    <!--</div>-->


    <!--<div sec:authorize="isAuthenticated()">-->
        <!--<a th:href="@{'/spitter/' + ${#authentication.principal.id}}" sec:authentication="name">user-name</a>-->
        <!--| <a th:href="@{/logout}">logout</a>-->
    <!--</div>-->
    <!--<br/>-->

    <!--<a th:href="@{/spittle/all}">all spittles</a>-->
    <!--<span sec:authorize="isAuthenticated()">-->
        <!--| <a th:href="@{/spittle/follow}">followed spittles</a>-->
        <!--| <a th:href="@{/spittle/me}">my spittles</a>-->
        <!--| <a th:href="@{/spittle/create}">create spittle</a>-->
    <!--</span>-->
    <!--<br/>-->
<!--</div>-->

<div>Content goes here</div>

<div class="row clearfix">
    <div class="col-md-12 column">
        <div th:fragment="copy">Copyright &copy; srj</div>
    </div>
</div>
</body>

</html>
